html
    head
        style
        script(src="a.js")
        link(href="a.css",rel="stylesheet")
    body
        div
        ul
            li
                input(type="text",id="text1",value="abc")
            li
                a(href="http://www.baidu.com") 百度一下
            li
        div(style="width:200px;height:200px;background-color:red;")
        div(style={width:'200px',height:'200px',background:'red'})