html
    head
        script
            include a.js
    body 
        -var a = 12;
        -var b = 5;
        div 结果是：#{a+b}
        //- div(style=json)
        //- div(class=arr)
        //- div(class=arr class="active")
    